@font-face {
    font-family: 'orbitron_light';
    src: url('../fonts/orbitron-light.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'orbitron_bold';
    src: url('../fonts/orbitron-bold.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'orbitron_medium';
    src: url('../fonts/orbitron-midium.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'orbitron_black';
    src: url('../fonts/orbitron-black.otf');
    font-weight: normal;
    font-style: normal;

}




/* ================================================ ADIENCE_start ================================================ */
body{
	-webkit-font-smoothing: antialiased;
 	font-smoothing: antialiased;
}
@font-face {
	font-family: 'Conv_HelveticaNeueLTPro-BdCn';
	src: url('../fonts/HelveticaNeueLTPro-BdCn.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTPro-BdCn.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-BdCn.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-BdCn.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_HelveticaBold';
	src: url('../fonts/HelveticaBold.eot');
	src: local('☺'), url('../fonts/HelveticaBold.woff') format('woff'), url('../fonts/HelveticaBold.ttf') format('truetype'), url('../fonts/HelveticaBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ================================================ ADIENCE_end ================================================ */









