html, body,
ul, ol, li,
dl, dt, dd,
h1, h2, h3, h4, h5,
p, blockquote,
form, fieldset, legend,
table, td, th{
    margin:0;
    padding:0;
    /*line-height: 1 !important;*/
}

.div
{
    line-height: 1 !important;
}

article,
section,
header,
nav,
footer {
    display: block;
}

.lte-ie7 div,
.lte-ie7 header,
.lte-ie7 footer,
.lte-ie7 nav {
    zoom:1;
}

html,
body{
    width:100%;
    /*height:100%;
    background: #fff;
    line-height: 1 !important;*/
}

body {
    color: #333;
    font: normal 87.45%/1.4 /*'Open Sans',*/'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: left;
	
}

img,
.node .content img{
    border:0;
    margin: 0;
    padding: 0;
}

img.left{
    float:left;
    margin-right:15px;
}

img.right{
    float:right;
}

p, dl{
    margin-bottom: 1.2em;
}

p.closer{
    margin-top:-0.7em;
}

.g-before-list {
    margin-bottom: 0.9em;
}
.g-ver-mid{
    vertical-align: middle;
}

ul{
    list-style-type:none;
}

.cblock ul,
.page__content-inner ul,
.products ul {
    margin-bottom: 2em;
    margin-left: 2em;
    list-style-position: outside;
    list-style-type: disc;
}

ol{
    margin-bottom: 1em;
}

ol li {
    margin-bottom: .5em;
}

ol li li{
    margin-bottom:0.5em;
}

ol>li{
    margin-left:2.5em;
}

ol ol {
    margin: 0.5em 0 1.5em 0;
    text-indent: 0;
}

p+ul,
p+ol{
    margin-top:-0.5em;
}


dl {
    margin-left: 29px;
    margin-top: 46px;
}

dt {
    color: #111;
    font-weight: 600;
    padding-left: 29px;
}

dd {
    margin-left: 30px;
}


table {
    border-collapse: collapse;

}

table td,
table th {
    text-align: left;
    padding: 0.3em 0.5em;
    vertical-align: top;
}

.table_data {
    font-size: 87%;
    margin: 0 0 2em -1em;
}

.table_data th {
    color: #666;
    font-size: 85%;
    font-style: italic;
    padding-left: 1.17em;
    padding-right: 0.6em;
    vertical-align: bottom;
    font-weight: normal
}
.table_data td {
    padding-left: 1em;
}

.table_data .o {
    background: #f9fbfc;
}
.table_data .b_b {
    border-bottom: 1px solid #333;
}
table td.n {
    text-align: right;
}

.table_data .spacer-row {
    height: 5px;
}
.table_data .spacer-row td {
    padding: 0;
}


sup,
sub{
    position:relative;
    top:-0.5em;
    font-size:75%;
    vertical-align:baseline;
}

sub{
    top:0.1em;
}

ins{
    text-decoration: none;
}

hr,
hr.line {
    border: 0;
}

hr.line_form {
    height: 2px;
    margin: 38px 0;
    background-color: #ececed;
}

h1, h2, h3, h4{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #000000;
}

h1 {
    position: relative;
    font-size: 230%;
    margin: .5em 0 .5em;
    line-height: 1.4;
    letter-spacing: .5px;
}

h2{
    font-size: 133.33%;
    /*margin: 1.2em 0 .5em;*/
    line-height: 1.2;
}

h1 + h2 {
    margin-top: 0;
}

h3{
    font-size: 100%;
    font-weight: bold;
}

h4{
    font-size:125%;
    margin-bottom: .5em;
}


input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input::-webkit-input-placeholder { color:#b2b2b2; }
input:-moz-placeholder { color:#b2b2b2; }

label.placeholder {
    display: none;
}

.blink{
    color:#6d6d6d;
}

blockquote {
    font: 133%/1.4 Georgia, serif;
    color: #043F76;
    margin-left: 1.5em;
    margin-bottom: 1em;
}





/* ================================================ ADIENCE_start ================================================ */

/* ---------------------------------GENAREL_start----------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{padding:0; margin:0;}

body{font:normal 14px/16px Arial, Helvetica, sans-serif;}

img{
    display:block;
    border:none;
}
a, a:hover, input, select, textarea{ 
    text-decoration:none;
    outline:none;
}
a:hover{opacity:0.5;}
input[type="button"]:hover, input[type="submit"]:hover, a:hover{
    cursor:pointer;
    -webkit-transition:all 800ms ease-in-out 0s;
    -moz-transition:all 800ms ease-in-out 0s;
    -o-transition:all 800ms ease-in-out 0s;
    transition:all 800ms ease-in-out 0s;
}
input, select, textarea{
    background:none;
    border:none;
}
textarea{resize:none;}
ul, ol, dl{list-style-type:none;}
.clear{
    font-size:0;
    line-height:0;
    clear:both;
}

.no-marg{margin:0 !important;}
.no-pad{padding:0 !important;}
.no-bg{background:none !important;}
.no-bord{border:none !important;}
.lft-align{float:left !important;}
.rgt-align{float:right !important;}
.center-align{ display:block; margin:0 auto; text-align:center !important;}

.main-block{
    width:940px;
    margin:0 auto;
    position:relative;
    background:url(images/bg.jpg) 0 0 repeat-y;
}
.main-block__working-area-header{
    width:940px;
    margin:0 auto;
    position:relative;
	background-color:#FFFFFF;
	-webkit-box-shadow:0 0 10px #c9c9c9;
	-moz-box-shadow:0 0 10px #c9c9c9;
	box-shadow:0 0 10px #c9c9c9;
}
.main-block__working-area{
    width:940px;
    margin:0 auto;
    position:relative;
}
.blue-heading__block{
    width:auto;
    background-color:#0088cf;
    position:absolute;
    top:90px;
    left:0;
    z-index:10;
}
.main-block_working-area-home .blue-heading__block{
    /*width:773px;*/
	/*height:90px;*/
}
.main-block_working-area-home .blue-heading__block h2{padding:0 0 0 34px;}
.blue-heading__block-interview{
	top:30px;
}
.blue-heading__block-genuine{
	top:51px;
}
/*.main-block_working-area-interview .blue-heading__block-interview{top:90px;}*/
.blue-heading__block h2, .blue-heading__block-interview h2{
    font:bold 25px/28px /*"Conv_HelveticaBold",*/ Arial, Helvetica, sans-serif;
    color:#fff;
    text-transform:uppercase;
    padding:18px 30px 18px 34px;
}
input[type="text"], select, input[type="checkbox"]{
    display:block;
    padding:0 4px;
    font:normal 12px/23px Arial, Helvetica, sans-serif;
    color:#000;
    background-color:#fff;
    border:1px solid #b9b9b9;
}
.slide{
    width:705px;
    height:auto;
    position:relative;
}
.pagination{
    width:160px;
    height:12px;
    position:absolute;
    top:680px;
    left:44%;
    z-index:100;
}
.pagination li{
    width:12px;
    height:12px;
    float:left;
    margin:0 20px 0 0;
    list-style:none;
}
.pagination li a{
    display:block;
    width:12px;
    height:12px;
    float:left;
    font-size:0;
    line-height:0;
    background:url(../images/round_inactive.png) 0 0 no-repeat;
}
.pagination li.current a{
    outline:none;
    background:url(../images/round_active.png) 0 0 no-repeat;
}
#slider2 .slide{width:940px;}
#slider2 .pagination{top:590px; left:190px;} 

.modal{ width:1000%; height:100%; position:fixed; top:0; left:0; z-index:999999; /*background:#000; opacity:0.7;*/ background:url(images/modal_bg.png) 0 0 repeat; }
.flip_gallery,#l1 {margin:0;}

.flip_gallery{
	-webkit-box-shadow:-55px 0 108px -8px rgba(0, 19, 0, 0.11);
	-moz-box-shadow:-55px 0 108px -8px rgba(0, 19, 0, 0.11);
	box-shadow:-55px 0 108px -8px rgba(0, 19, 0, 0.11);
}
/* ---------------------------------GENAREL_end----------------------------------- */
/* ---------------------------------BLOCK_HEADER_start----------------------------------- */
header{
    width:940px;
    height:50px;
    /*position:fixed;
    z-index:100000;*/
}
div.social-block{
    width:230px;
    margin:0 auto 0;
	padding:12px 0 0 0;
    z-index:1;
	float:left;
}
div.social-block p{
    float:left;
    font:bold 20px/25px /*"Conv_HelveticaBold",*/ Arial, Helvetica, sans-serif;
    color:#0088cf;
    padding:0 10px 0 27px;
   /* background:url(images/header_hand.png) 0 4px no-repeat;*/
}
div.social-block a{
    display:inline-block;
    width:25px;
    height:25px;
    float:left;
    margin:0 0 0 10px;
}
header input[type="button"], header a.btn_fullrange{
    display:block;
    width:250px;
    height:38px;
    position:absolute;
    top:0;
    right:0;
    z-index:1;
	line-height:20px !important; 
	padding:5px 0;
}
header a.btn_fullrange:hover{opacity:1;}
/* ---------------------------------BLOCK_HEADER_end----------------------------------- */
/* ---------------------------------BLOCK_NAVIGATION_start----------------------------------- */
nav{
    width:140px;
    position:absolute;
	top:210px;
    z-index:9999;
    background:url(images/nav_bg.png) 0 0 repeat-y;
}
/*nav.trail{top: 180px;}*/
nav ul{
    width:auto;
    position:relative;
}
nav ul li.redtop, nav ul li.redbot{
    width:40px;
    height:4px;
    position:absolute;
    top:-2px;
    left:10px;
    z-index:1;
    background-color:#f40505;
}
nav ul li.redbot{ top:auto !important; bottom:-2px !important;}
nav ul li a, nav ul li div{
    display:block;
    padding:0 0 0 34px;
    font:normal 12px/30px "Conv_HelveticaNeueLTPro-BdCn", Arial, Helvetica, sans-serif;
    color:#fff;
    text-transform:uppercase;
}
.nav_page{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

nav ul li a:hover{color:#f40505; opacity:1;}
nav ul li div{
    opacity:1;
    background-color:#666666;
    background: #666666; /* Old browsers */
    background: -moz-linear-gradient(top, #666 0%, #4b4b4b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666), color-stop(100%,#4b4b4b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #666 0%, #4b4b4b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #666 0%, #4b4b4b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #666666 0%, #4b4b4b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #666 0%, #4b4b4b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#4b4b4b',GradientType=0 ); /* IE6-9 */

    border:1px solid #4d4d4d;
}

.nav_page.active:before, nav ul li div span{
    background: url(images/nav_bulet.png) 8px 12px no-repeat;
    content: "";
    width: 25px;
    height: 25px;
    /* background-color: #F00; */
    display: inline-block;
    position: absolute;
    left: 1px;
}

nav ul li div span,
.nav_page.active{
    /*display:inline-block;*/
    /*padding:0 0 0 34px;*/
    /*background:url(images/nav_bulet.png) 8px 12px no-repeat;*/
}
/* ---------------------------------BLOCK_NAVIGATION_end----------------------------------- */
/* ---------------------------------BLOCK_FOOTER_start----------------------------------- */
.working_block-area-footer{
	width:940px;
	margin:0 auto;
	padding:5px 0;
 	background:url(images/bg.jpg) 0 0 repeat-y;
	position:absolute;
	bottom:0;
	left:0;
}
footer{
	width:100%;
	height:80px;
	}
/*footer.trail{padding-bottom:110px;}*/
footer p.foot_text{
    font:normal 12px/13px /*"Conv_HelveticaBold",*/ Arial, Helvetica, sans-serif;
    color:#333;
    text-align:center;
    margin:30px auto 15px;
}
footer div.social-block{ width:310px;}
footer div.social-block p{
    padding:0 0 0 20px;
    background:none;
}
/* ---------------------------------BLOCK_FOOTER_end----------------------------------- */

/* ================================================ ADIENCE_end ================================================ */














