.g-icon {
    overflow:hidden;
    background:url("icons.png") no-repeat;
}

.g-edu-icon
{
    overflow:hidden;
    background:url("edu-messages.png") no-repeat;
    width: 160px;
    height: 118px;
}

.g-icon_mobile-cash
{
    background-position: 0px 0px;
}

.g-icon_fast-secure
{
    background-position: 0px -120px;
}

.g-icon_bills
{
    background-position: 0px -240px;
}

.g-icon_credit-cards
{
    background-position: 0px -360px;
}

.g-icon_estatement{
    background-position: 0px -475px;
    height: 150px;
}
.g-icon_atm-security{
    background-position: 0px -720px;
}

.g-icon_unialerts{
    background-position: 0px -840px;
}

.g-icon_travel-insurance
{
    background-position: 0px -960px;
    height: 150px;
}

.g-icon_online-banking
{
    background-position: 0px -1200px;
}

.g-icon_smart-click
{
    background-position: 0px -1320px;
}

