
.g-border-box{
    box-sizing: border-box;
    moz-box-sizing: border-box;
}
.g-relative{
    position: relative;
}

.g-ovh {
    overflow-y: hidden;
}

.g-float-left{
    float:left;
}
.g-float-right{
    float:right;
}

.g-cursor-pointer{
    cursor: pointer;
}

.g-clear {
    clear:both;
    height:0;
    overflow:hidden;
}

.g-cleared {
    float: none;
    clear: both;
    padding-bottom: 1px; /* Margin-bottom fix for Opera <= 10 */
}
.g-cleared:after {
    clear: both;
    display: block;
    content: ' ';
}

.g-invisible {
    visibility:hidden !important;
}

.g-hidden {
    display: none !important;
}

.g-hidden_ui {
    display: none;
}

.g-unselectable{
    -ms-user-select: none;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select: none;
    behavior: expression(
        ( this.onselectstart = function(){ return !(1+(' ' + this.className + ' ').indexOf(' unselectable ')) } ),
    ( this.style.behavior = null )
    );
}
/* Opera */
.g-unselectable::selection { color: inherit }

.g-phone,
.g-number,
.g-nowrap {
    white-space: nowrap;
}

.g-highlight {
    color: #f7941e;
}

.g-highlight_on-white {
    color: #ef414a;
}

.g-note {
    color: #666666;
    font-size: 75.5%;
    font-weight: normal;
}

.g-last {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
}

/* Cross-browser display-inline*/
.g-section {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: top;
}
.g-block
{
    display: block !important;
}

.lte-ie7 .g-section {
    zoom: 1;
    display: inline;
}

.g-section_middle {
    vertical-align: middle;
}

.g-section_baseline {
    vertical-align: baseline;
}
.g-section_bottom {
    vertical-align: bottom;
}

/* Reducers */
.g-box-reducer {
    padding-top: 24px;
    padding-bottom: 24px;
}

.g-column-reducer {
    padding-left: 28px;
    padding-right: 28px;
}

.g-column-reducer_thin {
    padding-left: 14px;
    padding-right: 14px;
}

.g-column-reducer_left {
    padding-left: 0;
}

.g-column-reducer_right {
    padding-right: 0;
}


/* Rounded corners */

.rc5 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.rc10 {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.rc15 {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

/* Boxes */
.g-box {
    border: 2px solid #EBE5DB;
    margin-bottom: 20px;
    padding: 12px 20px;
}

.g-box_banner {
    border: 0 none;
    padding: 0;

}

.g-hflex
{
    width: 100%;
}

.g-center
{
    text-align: center;
}

.g-no-margin
{
    margin: 0px;
}

.g-min-lmargin
{
    margin-left: 5px;
}

.g-no-padding
{
    padding: 0px;
}

.g-relative
{
    position: relative;
}

.g-absolute,
.g-absolute-fix
{
    position: absolute;
}

.g-absolute-fix
{
    top:0px;
    left: 0px;
}

.g-no-height{
    height: 0px;
}


.g-anim-slow{
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.g-opaque
{
    opacity: 0;
}

.g-ghost-element
{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}


.g-vertical-middle
{
    vertical-align: middle;
}


.g-v-centered-block
{

}

.g-v-centered-block:before {
    content: '';
    display: inline-block;
    height: 100%; 
    vertical-align: middle;
}

.g-v-centered
{
    display: inline-block !important;
    vertical-align: middle !important;
}

.g-text-centered
{
    text-align: center;
}

.g-pointer
{
    cursor: pointer;
}


.g-no-select
{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;          
}

.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}

.g-blur
{
    -webkit-filter: blur(2px); 
    filter: url(#blur-effect-1);
}

.link
{
    text-decoration: underline;
}

.g-bgContain
{
    background-size:contain !important;
}

.g-bgFit
{
    background:none !important;
    /*    background-size:100% 100% !important;*/
    width : 100% !important;
    height : 100% !important;
}

.g-top
{
    top:0px;
    position:absolute !important;
}

.g_nounderline
{
    text-decoration : none;
}

.g-extra-weight{
    font-weight: bolder;
}

.dialog .g-extra-weight{
    font-weight: bolder;
    font-size:105%;
}

.g-upper
{
   text-transform: uppercase; 
}

.g-text-center
{
    text-align: center;
}
.g-flex-w
{
    width: 100%;
}