
nav{
    width:140px;
    position:absolute;
	top:210px;
    z-index:9999;
    background:url(images/nav_bg.png) 0 0 repeat-y;
}
/*nav.trail{top: 180px;}*/
nav ul{
    width:auto;
    position:relative;
}
nav ul li.redtop, nav ul li.redbot{
    width:40px;
    height:4px;
    position:absolute;
    top:-2px;
    left:10px;
    z-index:1;
    background-color:#f40505;
}
nav ul li.redbot{ top:auto !important; bottom:-2px !important;}
nav ul li a, nav ul li div{
    display:block;
    padding:0 0 0 34px;
    font:normal 12px/30px "Conv_HelveticaNeueLTPro-BdCn", Arial, Helvetica, sans-serif;
    color:#fff;
    text-transform:uppercase;
}
.nav_page{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

nav ul li a:hover{color:#f40505; opacity:1;}
nav ul li div{
    opacity:1;
    background-color:#666666;
    background: #666666; /* Old browsers */
    background: -moz-linear-gradient(top, #666 0%, #4b4b4b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666), color-stop(100%,#4b4b4b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #666 0%, #4b4b4b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #666 0%, #4b4b4b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #666666 0%, #4b4b4b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #666 0%, #4b4b4b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#4b4b4b',GradientType=0 ); /* IE6-9 */

    border:1px solid #4d4d4d;
}

.nav_page.active:before, nav ul li div span{
    background: url(images/nav_bulet.png) 8px 12px no-repeat;
    content: "";
    width: 25px;
    height: 25px;
    /* background-color: #F00; */
    display: inline-block;
    position: absolute;
    left: 1px;
}

nav ul li div span,
.nav_page.active{
    /*display:inline-block;*/
    /*padding:0 0 0 34px;*/
    /*background:url(images/nav_bulet.png) 8px 12px no-repeat;*/
}
/* ---------------------------------BLOCK_NAVIGATION_end----------------------------------- */
/* ---------------------------------BLOCK_FOOTER_start----------------------------------- */
.working_block-area-footer{
	width:940px;
	margin:0 auto;
	padding:5px 0;
 	background:url(images/bg.jpg) 0 0 repeat-y;
	position:absolute;
	bottom:0;
	left:0;
}
footer{
	width:100%;
	height:80px;
	}
/*footer.trail{padding-bottom:110px;}*/
footer p.foot_text{
    font:normal 12px/13px /*"Conv_HelveticaBold",*/ Arial, Helvetica, sans-serif;
    color:#333;
    text-align:center;
    margin:30px auto 15px;
}
footer div.social-block{ width:310px;}
footer div.social-block p{
    padding:0 0 0 20px;
    background:none;
}
/* ---------------------------------BLOCK_FOOTER_end----------------------------------- */

/* ================================================ ADIENCE_end ================================================ */

.TCOnav li a:hover {color:#00b6d1;}












