@charset "utf-8";
/* CSS Document */
body {background:#f2f2f2!important;}
nav {background:url(../img/nav_bg.png) repeat-y;left:115px;top:120px;}
nav ul li a, nav ul li div {font-weight:bold;padding-left:13px;}
.viewrange {font-size:12px;text-align:left;margin:0px;padding:0px;}
.col-sm-6.viewrange {padding-left:0px;}
.viewrange a {color:#fff;font-weight:bold;font-size:11px;text-align:left;margin-top:5px;display:block;}
.viewrange a:hover {color:#fff;}
#UserLinks ul li ra, #UserLinks ul li label {color:#4d4d4d;font-weight:normal;}

#showOnMobile {display:none;}
#container {display:block;}
#calculator-1, #calculator-2 {margin:auto;max-width:940px;width:100%;}
.smalltext {font-size:10px!important;}
.footerMng {max-width:940px;padding:0px;}
.noPadLeft {padding-left:0px;}
.footerMng small {margin-top:5px;}
#footer {max-width:940px;}
.top{height:auto; font-size:11px;}
ul#secondarynav li.dropdown {z-index:99;}
@media screen and (max-width:1199px){nav{left:15px;}}
@media screen and (max-width:940px){
    #showOnMobile {display:block;}
    #container {display:none;}
    .noPadnoMar {padding:0px;}
    #footer {display:none;}
    .footerMng{padding-left:20px;padding-right:20px;}
    .viewrange {padding-left:15px;font-size:14px;}
    nav {display:none!important;}
}
@media screen and (max-width:767px){
.col-sm-6.viewrange {padding-left:15px;}
}
#content .calculate-btn, #content .calculate-btn-other {
    padding-top: 12px !important;
}        

