@charset "utf-8";
/* CSS Document */

.bottomNone {padding-bottom:0px;}
.slider{margin:auto;width:728px;margin-top:140px;margin-left:160px;}
.main-block_working-area-home {background:none;}
.owl-buttons {margin:auto;width:100%;position:absolute;z-index:999;bottom:190px;right:0px;}
.SliderDescription{margin:auto;width:564px;text-align:center;color:#444;margin-top:0px;padding-bottom:58px;}
.SliderDescription .Left {margin:auto;margin:auto;float:left;width:135px;}
.SliderDescription .right {margin:auto;margin:auto;float:left;width:450px;}
.SliderDescription .right h4 {text-transform:uppercase;font-size:28px;}
.SliderDescription .right p {font-size:18px;padding-top:10px;color:#000;line-height:22px;}
.LearnMore{margin:auto;overflow:hidden;margin-top:35px;width:155px;}
.LearnMore a {margin:auto;height:47px;}
.LearnMore a:hover {}
.AlignCenter {text-align:center;}
.AlignCenter h4 {text-transform:uppercase;font-size:24px;}
.AlignCenter p {font-size:16px;padding:10px 0px;color:#000;line-height:22px;}
.AlignCenter small {font-size:11px;color:#000;display:block;padding-top:6px;}
.Holder {margin:auto;width:100%;position:relative;}
.Holder2 {margin:auto;width:100%;overflow:hidden;margin-top:0px;position:relative;z-index:1;}
.Holder2 .right {padding-top:30px;}
.owl-pagination {display:none;}
.hotspotBg {margin:auto;width:100%;overflow:hidden;}
.hotspot .hotspotBg{background:url(../img/lSeries_printBg.png) no-repeat;display:block;min-height:700px;}
.btnBlock{margin:auto;width:700px;height:200px;margin-top:155px;margin-left:259px;}
.btnBlock .hotspotbtn {margin:auto;width:58px;height:58px;float:left;margin:10px;line-height:58px;cursor:pointer;
/*background:url(../img/hotspotBg.png) no-repeat;*/
background:rgba(0, 0, 0, 0) url("../img/hotBall.png") no-repeat scroll 0 0;

text-align:center;font-weight:bold;text-shadow:1px 0px 1px #444;font-size:24px;}
.btnBlock .hotspotbtn:hover {background:url(../img/hotBall_active.png) no-repeat!important;}
.MarTop40{margin-top:-45px;}
.Martop10 {margin-top:25px;}
.MarTop95 {margin-top:-95px;}
.pad30 { padding:0 30px; }

.current{background:url(../img/hotBall_active.png) no-repeat!important;}

/* hotspot */
.Hotspotcontent {float:none;margin:auto;overflow:hidden;float:left;}
.HolderSlider {margin:auto;width:100%;position:relative;overflow:hidden;clear:both;float:none;}
.Hotspotdesc{margin:auto;margin-top:29px;width:445px; min-height:207px;}
.Hotspotdesc p {color:#000;margin-top:4px;font-size:16px;padding-bottom:0px;}
.Hotspotdesc small {line-height:15px;padding-top:10px;}
.btnBlock .Pad1{margin-top:193px;margin-left:7px;display:block;}
.btnBlock .Pad2{margin-left:23px;display:block;}
.btnBlock .Pad3 {margin-top:120px;margin-left:29px;}
.btnBlock .Pad4 {margin-top:25px;margin-left:191px;}
.btnBlock .Pad5 {margin-top:75px;margin-left:41px;}
.Hotspotdesc h4 {font-size:24px;}
.NextButtonHolder {width:77px;margin-top:26px;margin-bottom:20px;}
.NextButton{width:77px;height:47px;}
.hotspot .SliderDescription {padding-bottom:0px;}
.transition {
-webkit-transition: opacity 1s ease 2s;
   -moz-transition: opacity 1s ease 2s;
     -o-transition: opacity 1s ease 2s;
    -ms-transition: opacity 1s ease 2s;
        transition: opacity 1s ease 2s;
}


/* L series */
.main-block_working-area-range{  padding:558px 0 0 0;   background:url(../img/l_series_bg.png) 25px 0 no-repeat!important;}
.range-block-inn .btn_fullrange {display: block;  margin: auto; overflow: hidden;width: 200px;}
.range-block-inn p {font-size:12.2px;}
.range-block-inn h2 {font-size:28.5px!important;}
.btn_fullrange input#fullRange {line-height:45px;}
.main-block_working-area-home {background:url(../img/landing_bg.png) no-repeat;}
.BgMng {background:url(../img/landing_bg.png) no-repeat!important;padding-bottom:20px;}

/* fix */
.bx-viewport {min-height:444px!important;}

/* video page */
.videoHdr{margin-top:61px;}
.videoList{margin:auto;list-style:none;width:697px;margin-top:130px;margin-left:155px;overflow:hidden;}
.videoList li {margin:auto;width:284px;min-height:159px;float:left;margin:0px 31px 10px 31px;overflow:hidden;}
.videoList li .vidFrame {border:1px solid #a09c94;cursor:pointer;}
.videoList li h3 {font-size:12.5px;color:#000;padding:7px 0px;min-height:36px;}
.pagiNation {margin:auto;width:auto;list-style:none; display: block;  margin: 20px 0; padding-left: 0;right:25px;margin-right:75px;float:right;}
.hiddenBlock {overflow:hidden;}
.disabled {cursor: not-allowed;}
.pagiNation li {   display: inline;}
.pagiNation .active {background:#0088cf;color:#fff;}
#prev-button {margin-right:4px;}
.pagiNation li a {  background-color: #0088cf;   color: #fff;  float: left;  line-height: 1.42857;
    margin-left: -1px;  padding: 6px 12px;  position: relative;  text-decoration: none;}
#colorbox, #cboxOverlay, #cboxWrapper {
    background-color: rgba(0, 0, 0, 0.85);
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9999;
}
#colorbox:focus, #cboxOverlay:focus, #cboxWrapper:focus, #colorbox *:focus, #cboxOverlay *:focus, #cboxWrapper *:focus {
    outline: medium none;
}
#cboxWrapper {
    max-width: none;
}
#cboxOverlay {
    height: 100%;
    position: fixed;
    width: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxContent {
    position: relative;
}
#cboxLoadedContent {
    overflow: auto;
}
#cboxTitle {
    margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#cboxClose {
    background-color: transparent;
    background-image: url("../img/sprite-image.png");
    background-position: 0 -387px;
  
    cursor: pointer;
    height: 42px;
    position: absolute;
    right: 0;
    top: -42px;
    width: 98px;
    z-index: 1;
	    border: 0px;
}
.cboxPhoto {
    border: 0 none;
    display: block;
    float: left;
    margin: auto;
    max-width: none;
}
.cboxIframe {
    border: 0 none;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
}
.youtube.cboxElement > img {height:159px;}


.interview__video--vid a::before {
    background-position: -94px -376px;
    height: 33px;
    left: 50%;
    margin-left: 122px;
    margin-top: 69.5px;
    top: 50%;
    width: 44px;
}

.videoList li a::before {
    background-image: url("../img/sprite-image.png");
    background-position: -102px -295px;
    content: "";
    display: block;
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 22px;
    z-index: 1;
}
.videoList li a {
    display: block;
    height: 159px;
    position: relative;
    width: 100%;
}


.videoList li a::before {
    background-image: url("../img/sprite-image.png");
    background-position: -248px 45px;
    content: "";
    display: block;
    height: 41px;
    left: 0;
    position: absolute;
    top: 0;
    width: 51px;
    z-index: 9999;
}

.vidFrame img {    height: 159px;}

.paging-button {
  display:none;
}
.button-container {
  clear: both;
}

.videonav {padding-left:0px;}




.backtogallery {width:140px;height:35px;float:right;line-height:35px;text-align:left;font-size:14px;font-weight:bold;padding-left:16px;margin:70px 59px 0px 0px;text-decoration: none;color: #000000}

/* August 28, 2015 */
.buy_bg_new {background:url(../img/buy_bg.png) no-repeat!important;min-height: 801px;padding-bottom:0px;}
.Martop11 {margin-top:11px;}
.main-block_working-area-buy div.buy-main {margin: 38px 0 0 162px !important;}
.buy_bg_new h6 {font-size:18px!important;font-family:Helvetica, Arial, sans-serif!important;}
.buy_bg_new ul li {font-size:18px!important;width:125px!important;margin:0 5px 26px 0!important;}
.buy_bg_new ul li a {background:url(../img/buy_arrow.png) no-repeat left 0 top 2px !important;}
.buy_bg_new ul li a:hover {background-position:left 0 top 2px!important;}
.buy_bg_new ul {margin-top:23px;}
.PadBottomNone{padding-bottom:0px;}
.newlink {font-weight:bold;color:#000;}
.newlink:hover {color:#000;opacity:1;text-decoration:underline;}
.disclaimer { margin: 20px auto auto 160px; overflow: hidden; width: 716px;}
.disclaimer h3 {padding-bottom:10px;}
.disclaimer p {color:#000;font-size:12px;}

.AlignCenter sup {
    position: static;
    top: 11px !important;
    vertical-align: baseline;
}
.Hotspotdesc h4 sup {
    position: static;
    vertical-align: baseline;
}


.fadeOut{-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;opacity:0;}
 
.fadeIn{-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;opacity:1;}