




















<!--ls:begin[stylesheet]--><link type="text/css" href="http://www.epson.com.sg/assets/css/iepngfix.htc" rel="stylesheet"><!--ls:end[stylesheet]--><!--ls:begin[stylesheet]--><link type="text/css" href="http://www.epson.com.sg/assets/css/javascript.css" rel="stylesheet"><!--ls:end[stylesheet]--><!--ls:begin[stylesheet]--><link type="text/css" href="http://www.epson.com.sg/assets/css/layout.css" rel="stylesheet"><!--ls:end[stylesheet]--><!--ls:begin[stylesheet]--><link type="text/css" href="http://www.epson.com.sg/assets/css/reset.css" rel="stylesheet"><!--ls:end[stylesheet]--><!--ls:begin[stylesheet]--><link type="text/css" href="http://www.epson.com.sg/assets/css/typography.css" rel="stylesheet"><!--ls:end[stylesheet]--><!--ls:begin[stylesheet]--><link type="text/css" href="http://www.epson.com.sg/assets/css/screen.css" rel="stylesheet"><!--ls:end[stylesheet]--><!--ls:begin[stylesheet]--><link type="text/css" href="http://www.epson.com.sg/assets/css/site_map.css" rel="stylesheet"><!--ls:end[stylesheet]--><!--ls:begin[stylesheet]--><link type="text/css" href="http://www.epson.com.sg/assets/css/pagination.css" rel="stylesheet"><!--ls:end[stylesheet]-->

<link rel="stylesheet" type="text/css" href="http://www.epson.com.sg/assets/css/fixes-ie6.css" media="all"/>

<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" href="http://www.epson.com.sg/assets/css/ie.css"/><![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="http://www.epson.com.sg/assets/css/ie8.css"/><![endif]--><style type="text/css">
	body{ background: url() top no-repeat;}	
	div.ft_radio_v { 
	float:left; 
	padding: 5px 5px 0 0; 
	width: 100%;
	}
	div.ft_radio_h { 
	float:left; 
	padding: 5px 5px 0 0; 
	}	
</style>


 
 


<table width="100%" border="0" cellpadding="0" cellspacing="0">


	<tr>
	<td valign="top">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td><img src="/ef/images/spacer.gif" alt="" border="0"></td>
		<td><img src="/ef/images/spacer.gif" alt=""  border="0"></td>
		<td>
         <!-- <h1 class="txtMainHeader"> --><h3>Request a trial</h3>
		 <!-- </h1> -->
        </td>
		<td><img src="/ef/images/spacer.gif" alt=""  border="0"></td>
		<td><img src="/ef/images/spacer.gif" alt=""  border="0"></td>
		</tr>
		<tr>
		<td><img src="/ef/images/spacer.gif" alt=""  border="0"></td>
		<td><img src="/ef/images/spacer.gif" alt=""  border="0"></td>
		<td><img src="/ef/images/spacer.gif" alt=""  border="0"></td>
		<td><img src="/ef/images/spacer.gif" alt=""  border="0"></td>
		<td><img src="/ef/images/spacer.gif" alt=""  border="0"></td>
		</tr>
		<tr valign="top">
		<td>
			
		</td>
		<td><img src="/ef/images/spacer.gif" alt=""  border="0"></td>
		<td>

<!-- *********************** -->  



		<script type="text/javascript" language="javascript">
		<!--
		
		
        
        var http = getHTTPObject(); // We create the HTTP Object        
        
        function handleHttpResponse() {
        if (http.readyState == 4) {
            captchaOK = http.responseText;
            if(captchaOK != 1) {
              alert('The entered code was not correct. Please try again');
              document.eform.code.value='';
              document.eform.code.focus();
              return false;
              }
              document.eform.submit();
           }
        }

        function checkcode(thecode) {
        http.open("GET", url + escape(thecode), true);
        http.onreadystatechange = handleHttpResponse;
        http.send(null);
        }
		
			function trim( s )
			{
				while ( ( s.substring( 0, 1 ) == ' ' ) || ( s.substring( 0, 1 ) == '\n' ) || ( s.substring( 0, 1 ) == '\r' ) )
				{
					s = s.substring( 1, s.length );
				}
				while ( ( s.substring( s.length - 1, s.length ) == ' ' ) || ( s.substring( s.length-1, s.length ) == '\n' ) || ( s.substring( s.length - 1, s.length ) == '\r') )
				{
					s = s.substring( 0, s.length - 1 );
				}
				return s;
			}

			function isValidDigit( s )
			{
				for ( var i = 0 ; i < s.length ; i ++ )
				{
					if ( "0123456789".indexOf( s.substring( i, i + 1 ) ) == -1 )
					{
						return false;
					}
				}
				return true;
			}

			function isValidDate( year, month, day )
			{
				var date = new Date( year, month - 1, day );

				return date.getFullYear() == year && date.getMonth() == month - 1 && date.getDate() == day;
			}

			function isValidEmailAddress( email )
			{
				return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test( email );
			}

			function checkText( form, fieldName, fieldCaption, fieldSize, isMandatory, uiType )
			{
				switch ( uiType )
				{
					case 100: // text field

						eval( "form." + fieldName ).value = trim( eval( "form." + fieldName ).value );

						if ( isMandatory && eval( "form." + fieldName ).value == "" )
						{
							alert( "Please enter your " + fieldCaption );
							eval( "form." + fieldName ).focus();
							return false;
						}
						break;

					case 200: // drop down selection

						if ( isMandatory && eval( "form." + fieldName ).selectedIndex == 0 )
						{
							alert( "Please select your " + fieldCaption );
							eval( "form." + fieldName ).focus();
							return false;
						}
						break;

					case 300: // radio button
					case 500: // checkbox list

						var notSelected = true;
						for ( var i = 0 ; i < eval( "form." + fieldName ).length ; i ++ )
						{
							if ( eval( "form." + fieldName )[ i ].checked )
							{
								notSelected = false;
								break;
							}
						}
						if ( isMandatory && notSelected )
						{
							alert( "Please select your " + fieldCaption );
							eval( "form." + fieldName )[ 0 ].focus();
							return false;
						}
						break;
				}

				return true;
			}

			function checkDigit( form, fieldName, fieldCaption, fieldSize, isMandatory, uiType )
			{
				if ( !checkText( form, fieldName, fieldCaption, fieldSize, isMandatory, uiType ) )
				{
					return false;
				}
				var field = eval( "form." + fieldName );
				if ( field.value != "" )
				{
					for ( var i = 0 ; i < field.value.length ; i ++ )
					{
						if ( "0123456789".indexOf( field.value.substring( i, i + 1 ) ) == -1 )
						{
							alert( "Please select a valid number" );
							field.focus();
							return false;
						}
					}
				}
				return true;
			}

			function checkDate( form, fieldName, fieldCaption, fieldSize, isMandatory, uiType )
			{
				return _checkDate( form, fieldName, fieldCaption, fieldSize, isMandatory, uiType, false );
			}

			function checkPastDate( form, fieldName, fieldCaption, fieldSize, isMandatory, uiType )
			{
				return _checkDate( form, fieldName, fieldCaption, fieldSize, isMandatory, uiType, true );
			}

			function _checkDate( form, fieldName, fieldCaption, fieldSize, isMandatory, uiType, isPastDate )
			{
				var field = eval( "form." + fieldName );
				var dayField = eval( "form." + fieldName + "_day" );
				var monthField = eval( "form." + fieldName + "_month" );
				var yearField = eval( "form." + fieldName + "_year" );

				if ( dayField.selectedIndex != 0 || monthField.selectedIndex != 0 || yearField.selectedIndex != 0 )
				{
					if ( dayField.selectedIndex == 0 )
					{
						alert( "Please select a valid date" );
						dayField.focus();
						return false;
					}
					if ( monthField.selectedIndex == 0 )
					{
						alert( "Please select a valid date" );
						monthField.focus();
						return false;
					}
					if ( yearField.selectedIndex == 0 )
					{
						alert( "Please select a valid date" );
						yearField.focus();
						return false;
					}

					var day = dayField.selectedIndex;
					var month = monthField.selectedIndex;
					var year = parseInt( yearField.options[ yearField.selectedIndex ].value );
					if ( !isValidDate( year, month, day ) )
					{
						alert( "Please select a valid date" );
						dayField.focus();
						return false;
					}
					if ( isPastDate )
					{
						var today = new Date();
						today = new Date( today.getYear(), today.getMonth(), today.getDay() );
						var date = new Date( year, month - 1, day );
						if ( date.getTime() > today.getTime() )
						{
							alert( fieldCaption + " must not be later than today" );
							dayField.focus();
							return false;
						}
					}

				}
				else
				{
					if ( isMandatory )
					{
						alert( "Please select your " + fieldCaption );
						dayField.focus();
						return false;
					}
				}

				return true;
			}

			function checkEmail( form, fieldName, fieldCaption, fieldSize, isMandatory, uiType )
			{
				if ( !checkText( form, fieldName, fieldCaption, fieldSize, isMandatory, uiType ) )
				{
					return false;
				}
				var email = eval( "form." + fieldName ).value;
				if ( email != "" && !isValidEmailAddress( email ) )
				{
					alert( "Please enter a valid email address" );
					dayField.focus();
					return false;
				}
				return true;
			}

			function checkPhone( form, fieldName, fieldCaption, fieldSize, isMandatory, uiType )
			{
				if ( !checkText( form, fieldName, fieldCaption, fieldSize, isMandatory, uiType ) )
				{
					return false;
				}
				var field = eval( "form." + fieldName );
				if ( field.value != "" )
				{
					for ( var i = 0 ; i < field.value.length ; i ++ )
					{
						if ( "()[]+- 0123456789".indexOf( field.value.substring( i, i + 1 ) ) == -1 )
						{
							alert( "Please enter a valid phone number" );
							field.focus();
							return false;
						}
					}
				}
				return true;
			}

			function checkQuestion( form, fieldName, isMandatory, uiType )
			{
				if ( isMandatory )
				{
					switch ( uiType )
					{
						case 100:
							eval( "form." + fieldName ).value = trim( eval( "form." + fieldName ).value );
							if ( isMandatory && eval( "form." + fieldName ).value == "" )
							{
								alert( "Please enter your answer" );
								eval( "form." + fieldName ).focus();
								return false;
							}
							break;
						case 101:
							eval( "form." + fieldName ).value = trim( eval( "form." + fieldName ).value );
							if ( isMandatory && eval( "form." + fieldName ).value == "" )
							{
								alert( "Please enter your answer" );
								eval( "form." + fieldName ).focus();
								return false;
							}
							break;
						case 200:
							if ( eval( "form." + fieldName ).selectedIndex == 0 )
							{
								alert( "Please select your answer" );
								eval( "form." + fieldName ).focus();
								return false;
							}
							break;

						case 400:
						case 300:
						case 301:
							var notSelected = true;
							for ( var i = 0 ; i < eval( "form." + fieldName ).length ; i ++ )
							{
								if ( eval( "form." + fieldName )[ i ].checked )
								{
									notSelected = false;
									break;
								}
							}
							if ( notSelected )
							{
								alert( "Please select your answer" );
								eval( "form." + fieldName )[ 0 ].focus();
								return false;
							}
							break;
					}
				}

				if ( uiType == 101 && eval( "form." + fieldName ).value.length > 500 )
				{
					alert( "Please enter no more than 500 characters for the question" );
					eval( "form." + fieldName ).focus();
					return false;
				}

				return true;
			}

			

			function validate( form )
			{
				
									if ( !checkText( form, "field_2", "Family Name", 40, true, 100 ) )
									{
										return false;
									}
								
									if ( !checkText( form, "field_3", "Given Name", 40, true, 100 ) )
									{
										return false;
									}
								
									if ( !checkEmail( form, "field_6", "Email Address", 80, true, 100 ) )
									{
										return false;
									}
								
									if ( !checkPhone( form, "field_10", "Contact Telephone Number", 30, true, 100 ) )
									{
										return false;
									}
								
									if ( !checkText( form, "field_18", "Company Name", 50, true, 100 ) )
									{
										return false;
									}
								
									if ( !checkText( form, "field_19", "Job Title", 40, false, 100 ) )
									{
										return false;
									}
								
									if ( !checkText( form, "field_23", "Company Address1", 40, true, 100 ) )
									{
										return false;
									}
								
							if ( !checkQuestion( form, "question_763", false, 200 ) )
							{
								return false;
							}
						
							if ( !checkQuestion( form, "question_764", true, 200 ) )
							{
								return false;
							}
						
							if ( !checkQuestion( form, "question_765", true, 200 ) )
							{
								return false;
							}
						
				return true;
				
				
				 
          		
				//return false;
				
				
			}

			function setDate( fieldName )
			{
				var form = document.eform;
				var field = eval( "form." + fieldName );
				var dayField = eval( "form." + fieldName + "_day" );
				var monthField = eval( "form." + fieldName + "_month" );
				var yearField = eval( "form." + fieldName + "_year" );

				if ( dayField.selectedIndex == 0 || monthField.selectedIndex == 0 || yearField.selectedIndex == 0 )
				{
					field.value = "";
				}
				else
				{
					var day = dayField.options[ dayField.selectedIndex ].value;
					var month = monthField.options[ monthField.selectedIndex ].value;
					var year = yearField.options[ yearField.selectedIndex ].value;
					field.value = day + " " + month + " " + year;
				}
			}
		var invalidcaptchaCode = false;

			window.onload = function()
			{
				if ( invalidcaptchaCode  )
				{
					alert( "Invalid code.Please key in correct captcha code shown" );
					document.eform.code.focus();
				}
			}
		//-->
		</script>

		<!-- for product types and product names -->
		<script type="text/javascript" language="javascript">
		<!--
			// product types: field_32_*
			// product models: field_33_*

			function ProductCategory( name )
			{
				this.name = name;
			}

			function Product( name, category )
			{
				this.name = name;
				this.category = category;
			}

			var productCategories = new Array();
			var products = new Array();

			// begin data definition

			
						productCategories[ 0 ] = new ProductCategory( "Electronic Components" );
					
						productCategories[ 1 ] = new ProductCategory( "EPSON Ink Cartridges" );
					
						productCategories[ 2 ] = new ProductCategory( "EPSON Options & Accessories" );
					
						productCategories[ 3 ] = new ProductCategory( "EPSON Papers" );
					
						productCategories[ 4 ] = new ProductCategory( "EPSON Projector Lamps" );
					
						productCategories[ 5 ] = new ProductCategory( "EPSON Ribbon Cartridges" );
					
						productCategories[ 6 ] = new ProductCategory( "EPSON Toner Cartridges" );
					
						productCategories[ 7 ] = new ProductCategory( "Mini Printer Mechanism" );
					
						productCategories[ 8 ] = new ProductCategory( "POS Terminals" );
					
						productCategories[ 9 ] = new ProductCategory( "Printers - Dot Matrix Printers" );
					
						productCategories[ 10 ] = new ProductCategory( "Printers - Laser Printers" );
					
						productCategories[ 11 ] = new ProductCategory( "Printers - Multifunction Inkjet Printers" );
					
						productCategories[ 12 ] = new ProductCategory( "Printers - Single Function Inkjet Printers" );
					
						productCategories[ 13 ] = new ProductCategory( "Professional Graphics" );
					
						productCategories[ 14 ] = new ProductCategory( "Projectors - Discontinued Projector Models" );
					
						productCategories[ 15 ] = new ProductCategory( "Projectors - Home Projectors" );
					
						productCategories[ 16 ] = new ProductCategory( "Projectors - Multimedia Projectors" );
					
						productCategories[ 17 ] = new ProductCategory( "Scanners" );
					
						productCategories[ 18 ] = new ProductCategory( "TM Printers" );
					
						products[ 0 ] = new Product( "S020025 Black Ink Cartridge Double Pack", "EPSON Ink Cartridges" );
					
						products[ 1 ] = new Product( "S020049 Colour Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 2 ] = new Product( "S020187/S020093 Black Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 3 ] = new Product( "S020191/S020089 Colour Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 4 ] = new Product( "T003092 Black Ink Cartridge Double Pack", "EPSON Ink Cartridges" );
					
						products[ 5 ] = new Product( "T008091 Colour Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 6 ] = new Product( "T009091 Colour Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 7 ] = new Product( "T014091 Colour Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 8 ] = new Product( "T016091 Colour Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 9 ] = new Product( "T019091 Black Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 10 ] = new Product( "T027091 Colour Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 11 ] = new Product( "T032190 Black Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 12 ] = new Product( "T032490 Yellow Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 13 ] = new Product( "T034390 Magenta Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 14 ] = new Product( "T034590 Light Cyan Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 15 ] = new Product( "T034890 Matte Black Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 16 ] = new Product( "T039090 Colour Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 17 ] = new Product( "T042290 Cyan Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 18 ] = new Product( "T047290 Cyan Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 19 ] = new Product( "T049190 Black Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 20 ] = new Product( "T049490 Yellow Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 21 ] = new Product( "T049690 Light Magenta Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 22 ] = new Product( "T054290 Cyan Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 23 ] = new Product( "T054790 Red Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 24 ] = new Product( "T056190 Black Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 25 ] = new Product( "T056290 Cyan Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 26 ] = new Product( "T056390 Magenta Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 27 ] = new Product( "T056490 Yellow Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 28 ] = new Product( "T062190 High Capacity Black Ink", "EPSON Ink Cartridges" );
					
						products[ 29 ] = new Product( "T063190 Standard Capacity Black Ink", "EPSON Ink Cartridges" );
					
						products[ 30 ] = new Product( "T063290 Cyan Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 31 ] = new Product( "T063390 Magenta Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 32 ] = new Product( "T063490 Yellow Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 33 ] = new Product( "T073190 Black Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 34 ] = new Product( "T073290 Cyan Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 35 ] = new Product( "T073390 Magenta Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 36 ] = new Product( "T073490 Yellow Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 37 ] = new Product( "T075190 Black Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 38 ] = new Product( "T075290 Cyan Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 39 ] = new Product( "T075390 Magenta Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 40 ] = new Product( "T075490 Yellow Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 41 ] = new Product( "T081190 High Capacity Black Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 42 ] = new Product( "T082190 Black Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 43 ] = new Product( "T082290 Cyan Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 44 ] = new Product( "T082390 Magenta Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 45 ] = new Product( "T082490 Yellow Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 46 ] = new Product( "T082590 Light Cyan Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 47 ] = new Product( "T082690 Light Magenta Ink Cartridge", "EPSON Ink Cartridges" );
					
						products[ 48 ] = new Product( "T499011 Black Ink Cartridge (500ml) QuickDry Dye Ink", "EPSON Ink Cartridges" );
					
						products[ 49 ] = new Product( "T502011 Cyan Ink Cartridge (500ml) QuickDry Dye Ink", "EPSON Ink Cartridges" );
					
						products[ 50 ] = new Product( "T511011 Black Ink Cartridge (500ml) ColourFast Ink", "EPSON Ink Cartridges" );
					
						products[ 51 ] = new Product( "T515011 Light Magenta Ink Cartridge (500ml) Ultrachrome Ink", "EPSON Ink Cartridges" );
					
						products[ 52 ] = new Product( "T543100 Photo Black Ink Cartridge (110ml) Ultrachrome Ink", "EPSON Ink Cartridges" );
					
						products[ 53 ] = new Product( "T543500 Light Cyan Ink Cartridge (110ml) UltraChrome Ink", "EPSON Ink Cartridges" );
					
						products[ 54 ] = new Product( "T543800 Matte Black Ink Cartridge (110ml) UltraChromeInk", "EPSON Ink Cartridges" );
					
						products[ 55 ] = new Product( "T544300 Magenta Ink Cartridge (220ml) UltraChrome Ink", "EPSON Ink Cartridges" );
					
						products[ 56 ] = new Product( "T544600 Light Magenta Ink Cartridge (220ml) Ultrachrome Ink", "EPSON Ink Cartridges" );
					
						products[ 57 ] = new Product( "T549100 Photo Black Ink Cartridge (500ml) UltraChrome Ink", "EPSON Ink Cartridges" );
					
						products[ 58 ] = new Product( "T549600 Light Magenta Ink Cartridge (500ml) UltraChrome Ink", "EPSON Ink Cartridges" );
					
						products[ 59 ] = new Product( "T549800 Matte Black Ink Cartridge (500ml) UltraChrome Ink", "EPSON Ink Cartridges" );
					
						products[ 60 ] = new Product( "T585290 PicturePack", "EPSON Ink Cartridges" );
					
						products[ 61 ] = new Product( "C12C811151 - 2/3 inch Dual Roll Feed Spindle", "EPSON Options & Accessories" );
					
						products[ 62 ] = new Product( "C12C811152 - 2/3 inch Dual Roll Feed Spindle (High Tension)", "EPSON Options & Accessories" );
					
						products[ 63 ] = new Product( "C12C811155 - 2/3 inch Dual Roll Feed Spindle (High Tension)", "EPSON Options & Accessories" );
					
						products[ 64 ] = new Product( "C12C811161 - 2/3 inch Dual Roll Feed Spindle", "EPSON Options & Accessories" );
					
						products[ 65 ] = new Product( "C12C811171 - 2/3 inch Dual Roll Feed Spindle", "EPSON Options & Accessories" );
					
						products[ 66 ] = new Product( "C12C811191 - 2/3 inch Dual Roll Feed Spindle (High Tension)", "EPSON Options & Accessories" );
					
						products[ 67 ] = new Product( "C12C815251 - Auto take-up reel unit", "EPSON Options & Accessories" );
					
						products[ 68 ] = new Product( "C12C815291 - Auto Cutter Spare Blade", "EPSON Options & Accessories" );
					
						products[ 69 ] = new Product( "C12C890191 - Maintenance Tank", "EPSON Options & Accessories" );
					
						products[ 70 ] = new Product( "EPSON Archival Matte Paper Super A3", "EPSON Papers" );
					
						products[ 71 ] = new Product( "EPSON Canvas 24\"x40ft", "EPSON Papers" );
					
						products[ 72 ] = new Product( "EPSON Canvas 44\"x40ft", "EPSON Papers" );
					
						products[ 73 ] = new Product( "EPSON Doubleweight Matte Paper 24\"x25m", "EPSON Papers" );
					
						products[ 74 ] = new Product( "EPSON Doubleweight Matte Paper 36\"x25m", "EPSON Papers" );
					
						products[ 75 ] = new Product( "EPSON Doubleweight Matte Paper 44\"x25m", "EPSON Papers" );
					
						products[ 76 ] = new Product( "EPSON Enhanced Matte Paper 17\"x30.5m", "EPSON Papers" );
					
						products[ 77 ] = new Product( "EPSON Enhanced Matte Paper 24\"x30.5m", "EPSON Papers" );
					
						products[ 78 ] = new Product( "EPSON Enhanced Matte Paper 36\"x30.5m", "EPSON Papers" );
					
						products[ 79 ] = new Product( "EPSON Enhanced Matte Paper 44\"x30.5m", "EPSON Papers" );
					
						products[ 80 ] = new Product( "EPSON Enhanced Matte Paper A2", "EPSON Papers" );
					
						products[ 81 ] = new Product( "EPSON Photo Paper Gloss 250 17\" x 30.5m", "EPSON Papers" );
					
						products[ 82 ] = new Product( "EPSON Photo Paper Gloss 250 24\" x 30.5m", "EPSON Papers" );
					
						products[ 83 ] = new Product( "EPSON Photo Paper Gloss 250 36\" x 30.5m", "EPSON Papers" );
					
						products[ 84 ] = new Product( "EPSON Photo Paper Gloss 250 44\" x 30.5m", "EPSON Papers" );
					
						products[ 85 ] = new Product( "EPSON Premium Glossy Photo Paper", "EPSON Papers" );
					
						products[ 86 ] = new Product( "EPSON Premium Glossy Photo Paper (170) 16.5\"x30.5m", "EPSON Papers" );
					
						products[ 87 ] = new Product( "EPSON Premium Glossy Photo Paper (170) 24\"x30.5m", "EPSON Papers" );
					
						products[ 88 ] = new Product( "EPSON Premium Glossy Photo Paper (170) 36\"x30.5m", "EPSON Papers" );
					
						products[ 89 ] = new Product( "EPSON Premium Glossy Photo Paper (170) 44\"x30.5m", "EPSON Papers" );
					
						products[ 90 ] = new Product( "EPSON Premium Glossy Photo Paper 5\"x7\"", "EPSON Papers" );
					
						products[ 91 ] = new Product( "EPSON Premium Semi-Gloss Photo Paper (170) 16.5\"x30.5m", "EPSON Papers" );
					
						products[ 92 ] = new Product( "EPSON Premium Semi-Gloss Photo Paper (170) 24\"x30.5m", "EPSON Papers" );
					
						products[ 93 ] = new Product( "EPSON Premium Semi-Gloss Photo Paper (170) 36\"x30.5m", "EPSON Papers" );
					
						products[ 94 ] = new Product( "EPSON Premium Semi-Gloss Photo Paper (170) 44\"x30.5m", "EPSON Papers" );
					
						products[ 95 ] = new Product( "Epson Premium Semi-Gloss Photo Paper 4\"x6\" (102x152mm)", "EPSON Papers" );
					
						products[ 96 ] = new Product( "EPSON Singleweight Matte Paper 17\"x40m", "EPSON Papers" );
					
						products[ 97 ] = new Product( "EPSON Singleweight Matte Paper A2", "EPSON Papers" );
					
						products[ 98 ] = new Product( "EPSON Singleweight Matte Paper A3+", "EPSON Papers" );
					
						products[ 99 ] = new Product( "EPSON Textured Fine Art Paper 17\"x15.2m", "EPSON Papers" );
					
						products[ 100 ] = new Product( "EPSON Textured Fine Art Paper 24\"x15.2m", "EPSON Papers" );
					
						products[ 101 ] = new Product( "EPSON Textured Fine Art Paper 44\"x15.2m", "EPSON Papers" );
					
						products[ 102 ] = new Product( "EPSON Ultra Glossy Photo Paper 4R (4\"x6\")", "EPSON Papers" );
					
						products[ 103 ] = new Product( "EPSON Ultra Glossy Photo Paper A4", "EPSON Papers" );
					
						products[ 104 ] = new Product( "EPSON UltraSmooth Fine Art Paper 17\" x 15.2m", "EPSON Papers" );
					
						products[ 105 ] = new Product( "EPSON UltraSmooth Fine Art Paper 24\" x 15.2m", "EPSON Papers" );
					
						products[ 106 ] = new Product( "EPSON UltraSmooth Fine Art Paper 44\" x 15.2m", "EPSON Papers" );
					
						products[ 107 ] = new Product( "EPSON Ultrasmooth Fine Art Paper A2", "EPSON Papers" );
					
						products[ 108 ] = new Product( "EPSON UltraSmooth Fine Art Paper A3+", "EPSON Papers" );
					
						products[ 109 ] = new Product( "EPSON Velvet Fine Art Paper A2", "EPSON Papers" );
					
						products[ 110 ] = new Product( "S010023 Fabric Ribbon Pack #7755", "EPSON Ribbon Cartridges" );
					
						products[ 111 ] = new Product( "S010024 Fabric Ribbon Pack #8758", "EPSON Ribbon Cartridges" );
					
						products[ 112 ] = new Product( "S010025 Fabric Ribbon Pack #8767", "EPSON Ribbon Cartridges" );
					
						products[ 113 ] = new Product( "S010066 Black Ribbon Pack #7755", "EPSON Ribbon Cartridges" );
					
						products[ 114 ] = new Product( "S010068 Black Ribbon Pack #8758", "EPSON Ribbon Cartridges" );
					
						products[ 115 ] = new Product( "S010070 Black Ribbon Pack #8767", "EPSON Ribbon Cartridges" );
					
						products[ 116 ] = new Product( "S010074 Black Ribbon Pack (S015086)", "EPSON Ribbon Cartridges" );
					
						products[ 117 ] = new Product( "S015032 Black Ribbon Cartridge", "EPSON Ribbon Cartridges" );
					
						products[ 118 ] = new Product( "S015047 Black Fabric Ribbon Cartridge", "EPSON Ribbon Cartridges" );
					
						products[ 119 ] = new Product( "S015052 Fabric Ribbon Cartridge #8753", "EPSON Ribbon Cartridges" );
					
						products[ 120 ] = new Product( "S015053 Fabric Ribbon Cartridge #8762L", "EPSON Ribbon Cartridges" );
					
						products[ 121 ] = new Product( "S015054 Fabric Ribbon Cartridge #8763", "EPSON Ribbon Cartridges" );
					
						products[ 122 ] = new Product( "S015056 Colour Fabric Ribbon Cartridge #7763", "EPSON Ribbon Cartridges" );
					
						products[ 123 ] = new Product( "S015060 Black Fabric Ribbon Cartridge", "EPSON Ribbon Cartridges" );
					
						products[ 124 ] = new Product( "S015066 Black Fabric Ribbon Cartridge", "EPSON Ribbon Cartridges" );
					
						products[ 125 ] = new Product( "S015067 Colour Fabric Ribbon Cartridge", "EPSON Ribbon Cartridges" );
					
						products[ 126 ] = new Product( "S015073 Colour Fabric Ribbon Cartridge", "EPSON Ribbon Cartridges" );
					
						products[ 127 ] = new Product( "S015077 Colour Fabric Ribbon Cartridge", "EPSON Ribbon Cartridges" );
					
						products[ 128 ] = new Product( "S015139 Black Ribbon Cartridge", "EPSON Ribbon Cartridges" );
					
						products[ 129 ] = new Product( "S015140 Black Fabric Ribbon Cartridge", "EPSON Ribbon Cartridges" );
					
						products[ 130 ] = new Product( "S015141 24 pin Narrow Fabric Ribbon Cartridge #7753", "EPSON Ribbon Cartridges" );
					
						products[ 131 ] = new Product( "S015142 24 pin Wide Fabric Ribbon Cartridge #7754", "EPSON Ribbon Cartridges" );
					
						products[ 132 ] = new Product( "S015262 1/2 Inch Fabric Ribbon Cartridge", "EPSON Ribbon Cartridges" );
					
						products[ 133 ] = new Product( "S015264 9 pin Narrow Fabric Ribbon Cartridge #8750", "EPSON Ribbon Cartridges" );
					
						products[ 134 ] = new Product( "S015265 9 pin Narrow Fabric Ribbon Cartridge #8755", "EPSON Ribbon Cartridges" );
					
						products[ 135 ] = new Product( "S015306 Black Fabric Ribbon Cartridge", "EPSON Ribbon Cartridges" );
					
						products[ 136 ] = new Product( "S015330 Ribbon Cartridge (S015327)", "EPSON Ribbon Cartridges" );
					
						products[ 137 ] = new Product( "S015333 Fabric Ribbon Cartridge #8766", "EPSON Ribbon Cartridges" );
					
						products[ 138 ] = new Product( "S015341 Ribbon Cartridge (S015337)", "EPSON Ribbon Cartridges" );
					
						products[ 139 ] = new Product( "S015345 Ribbon Cartridge (S015336)", "EPSON Ribbon Cartridges" );
					
						products[ 140 ] = new Product( "S015384 Ribbon Cartridge", "EPSON Ribbon Cartridges" );
					
						products[ 141 ] = new Product( "S015505 Black Ribbon Cartridge (S015384)", "EPSON Ribbon Cartridges" );
					
						products[ 142 ] = new Product( "S015506 Black Ribbon Cartridge #7753", "EPSON Ribbon Cartridges" );
					
						products[ 143 ] = new Product( "S015508 Black Ribbon Cartridge (S015016)", "EPSON Ribbon Cartridges" );
					
						products[ 144 ] = new Product( "S015511 Black Ribbon Cartridge #7754", "EPSON Ribbon Cartridges" );
					
						products[ 145 ] = new Product( "S015516 Black Ribbon Cartridge #8750", "EPSON Ribbon Cartridges" );
					
						products[ 146 ] = new Product( "S015520 Black Ribbon Cartridge #8755", "EPSON Ribbon Cartridges" );
					
						products[ 147 ] = new Product( "S015531 Black Ribbon Cartridge (S015086)", "EPSON Ribbon Cartridges" );
					
						products[ 148 ] = new Product( "S015550 Colour Ribbon Cartridge #7763", "EPSON Ribbon Cartridges" );
					
						products[ 149 ] = new Product( "S015561 Black Ribbon Cartridge (S015032)", "EPSON Ribbon Cartridges" );
					
						products[ 150 ] = new Product( "S015566 Colour Ribbon Cartridge (S015067)", "EPSON Ribbon Cartridges" );
					
						products[ 151 ] = new Product( "S015568 Colour Ribbon Cartridge (S015073)", "EPSON Ribbon Cartridges" );
					
						products[ 152 ] = new Product( "S015569 Colour Ribbon Cartridge (S015077)", "EPSON Ribbon Cartridges" );
					
						products[ 153 ] = new Product( "S015571 Black Ribbon Cartridge (S015139)", "EPSON Ribbon Cartridges" );
					
						products[ 154 ] = new Product( "S015577 Black Ribbon Cartridge #8766", "EPSON Ribbon Cartridges" );
					
						products[ 155 ] = new Product( "S015582 Black Ribbon Cartridge (S015290)", "EPSON Ribbon Cartridges" );
					
						products[ 156 ] = new Product( "S015584 Black Ribbon Cartridge (S015327)", "EPSON Ribbon Cartridges" );
					
						products[ 157 ] = new Product( "S015586 Black Ribbon Cartridge (S015336)", "EPSON Ribbon Cartridges" );
					
						products[ 158 ] = new Product( "S015587 Black Ribbon Cartridge (S015066)", "EPSON Ribbon Cartridges" );
					
						products[ 159 ] = new Product( "S015589 Black Ribbon Cartridge (S015337)", "EPSON Ribbon Cartridges" );
					
						products[ 160 ] = new Product( "EPSON DFX-9000", "Printers - Dot Matrix Printers" );
					
						products[ 161 ] = new Product( "EPSON LQ-2090", "Printers - Dot Matrix Printers" );
					
						products[ 162 ] = new Product( "EPSON LQ-300+ II", "Printers - Dot Matrix Printers" );
					
						products[ 163 ] = new Product( "EPSON LQ-590", "Printers - Dot Matrix Printers" );
					
						products[ 164 ] = new Product( "EPSON LQ-680Pro", "Printers - Dot Matrix Printers" );
					
						products[ 165 ] = new Product( "EPSON LX-300+ II", "Printers - Dot Matrix Printers" );
					
						products[ 166 ] = new Product( "EPSON PLQ - 20/20M", "Printers - Dot Matrix Printers" );
					
						products[ 167 ] = new Product( "EPSON Aculaser 2600N", "Printers - Laser Printers" );
					
						products[ 168 ] = new Product( "EPSON Aculaser C1100", "Printers - Laser Printers" );
					
						products[ 169 ] = new Product( "EPSON Aculaser C1100N", "Printers - Laser Printers" );
					
						products[ 170 ] = new Product( "EPSON Aculaser C2600N", "Printers - Laser Printers" );
					
						products[ 171 ] = new Product( "EPSON Aculaser C3000N", "Printers - Laser Printers" );
					
						products[ 172 ] = new Product( "EPSON Aculaser C3800N/C3800DN", "Printers - Laser Printers" );
					
						products[ 173 ] = new Product( "EPSON Aculaser C4200DN", "Printers - Laser Printers" );
					
						products[ 174 ] = new Product( "EPSON Aculaser C8600", "Printers - Laser Printers" );
					
						products[ 175 ] = new Product( "EPSON Aculaser C9100", "Printers - Laser Printers" );
					
						products[ 176 ] = new Product( "EPSON Aculaser CX11N", "Printers - Laser Printers" );
					
						products[ 177 ] = new Product( "EPSON Aculaser CX11NF", "Printers - Laser Printers" );
					
						products[ 178 ] = new Product( "EPSON EPL-6200L", "Printers - Laser Printers" );
					
						products[ 179 ] = new Product( "EPSON EPL-N2500", "Printers - Laser Printers" );
					
						products[ 180 ] = new Product( "EPSON Stylus CX2900", "Printers - Multifunction Inkjet Printers" );
					
						products[ 181 ] = new Product( "EPSON Stylus CX3900", "Printers - Multifunction Inkjet Printers" );
					
						products[ 182 ] = new Product( "EPSON Stylus CX5900", "Printers - Multifunction Inkjet Printers" );
					
						products[ 183 ] = new Product( "EPSON Stylus CX6900F", "Printers - Multifunction Inkjet Printers" );
					
						products[ 184 ] = new Product( "EPSON Stylus CX8300", "Printers - Multifunction Inkjet Printers" );
					
						products[ 185 ] = new Product( "EPSON Stylus CX9300F", "Printers - Multifunction Inkjet Printers" );
					
						products[ 186 ] = new Product( "EPSON Stylus Photo RX590", "Printers - Multifunction Inkjet Printers" );
					
						products[ 187 ] = new Product( "EPSON Stylus Photo RX650", "Printers - Multifunction Inkjet Printers" );
					
						products[ 188 ] = new Product( "EPSON PictureMate PM210", "Printers - Single Function Inkjet Printers" );
					
						products[ 189 ] = new Product( "EPSON PictureMate PM250", "Printers - Single Function Inkjet Printers" );
					
						products[ 190 ] = new Product( "EPSON Stylus C110", "Printers - Single Function Inkjet Printers" );
					
						products[ 191 ] = new Product( "EPSON Stylus C59", "Printers - Single Function Inkjet Printers" );
					
						products[ 192 ] = new Product( "EPSON Stylus C79", "Printers - Single Function Inkjet Printers" );
					
						products[ 193 ] = new Product( "EPSON Stylus Photo 1290", "Printers - Single Function Inkjet Printers" );
					
						products[ 194 ] = new Product( "EPSON Stylus Photo R230", "Printers - Single Function Inkjet Printers" );
					
						products[ 195 ] = new Product( "EPSON Stylus Photo R250", "Printers - Single Function Inkjet Printers" );
					
						products[ 196 ] = new Product( "EPSON Stylus Photo R800", "Printers - Single Function Inkjet Printers" );
					
						products[ 197 ] = new Product( "EPSON Stylus R270", "Printers - Single Function Inkjet Printers" );
					
						products[ 198 ] = new Product( "PictureMate 100", "Printers - Single Function Inkjet Printers" );
					
						products[ 199 ] = new Product( "EPSON Rangefinder Digital Camera R-D1s", "Professional Graphics" );
					
						products[ 200 ] = new Product( "EPSON Stylus Photo R2400", "Professional Graphics" );
					
						products[ 201 ] = new Product( "EPSON Stylus Pro 11880", "Professional Graphics" );
					
						products[ 202 ] = new Product( "EPSON Stylus Pro 3850", "Professional Graphics" );
					
						products[ 203 ] = new Product( "EPSON Stylus Pro 4400", "Professional Graphics" );
					
						products[ 204 ] = new Product( "EPSON Stylus Pro 4800", "Professional Graphics" );
					
						products[ 205 ] = new Product( "EPSON Stylus Pro 4880", "Professional Graphics" );
					
						products[ 206 ] = new Product( "EPSON Stylus Pro 7400", "Professional Graphics" );
					
						products[ 207 ] = new Product( "EPSON Stylus Pro 7450", "Professional Graphics" );
					
						products[ 208 ] = new Product( "EPSON Stylus Pro 7800", "Professional Graphics" );
					
						products[ 209 ] = new Product( "EPSON Stylus Pro 9400", "Professional Graphics" );
					
						products[ 210 ] = new Product( "EPSON Stylus Pro 9800", "Professional Graphics" );
					
						products[ 211 ] = new Product( "P-2000 Multimedia Storage Viewer", "Professional Graphics" );
					
						products[ 212 ] = new Product( "", "Projectors - Home Projectors" );
					
						products[ 213 ] = new Product( "EMP-TW1000", "Projectors - Home Projectors" );
					
						products[ 214 ] = new Product( "EMP-TW700", "Projectors - Home Projectors" );
					
						products[ 215 ] = new Product( "EMP-1700", "Projectors - Multimedia Projectors" );
					
						products[ 216 ] = new Product( "EMP-1705", "Projectors - Multimedia Projectors" );
					
						products[ 217 ] = new Product( "EMP-1710", "Projectors - Multimedia Projectors" );
					
						products[ 218 ] = new Product( "EMP-1715", "Projectors - Multimedia Projectors" );
					
						products[ 219 ] = new Product( "EMP-1810", "Projectors - Multimedia Projectors" );
					
						products[ 220 ] = new Product( "EMP-1815", "Projectors - Multimedia Projectors" );
					
						products[ 221 ] = new Product( "EMP-6000", "Projectors - Multimedia Projectors" );
					
						products[ 222 ] = new Product( "EMP-6100", "Projectors - Multimedia Projectors" );
					
						products[ 223 ] = new Product( "EMP-62", "Projectors - Multimedia Projectors" );
					
						products[ 224 ] = new Product( "EMP-750", "Projectors - Multimedia Projectors" );
					
						products[ 225 ] = new Product( "EMP-755", "Projectors - Multimedia Projectors" );
					
						products[ 226 ] = new Product( "EMP-82", "Projectors - Multimedia Projectors" );
					
						products[ 227 ] = new Product( "EMP-822", "Projectors - Multimedia Projectors" );
					
						products[ 228 ] = new Product( "EMP-S3", "Projectors - Multimedia Projectors" );
					
						products[ 229 ] = new Product( "EMP-X3", "Projectors - Multimedia Projectors" );
					
						products[ 230 ] = new Product( "EPSON Expression 10000XL", "Scanners" );
					
						products[ 231 ] = new Product( "EPSON GT-2500", "Scanners" );
					
						products[ 232 ] = new Product( "EPSON Perfection 4490 Photo", "Scanners" );
					
						products[ 233 ] = new Product( "EPSON Perfection 4990 Photo", "Scanners" );
					
						products[ 234 ] = new Product( "EPSON Perfection V10", "Scanners" );
					
						products[ 235 ] = new Product( "EPSON Perfection V100 Photo", "Scanners" );
					
						products[ 236 ] = new Product( "EPSON Perfection V500 Photo", "Scanners" );
					
						products[ 237 ] = new Product( "EPSON Perfection V700 Photo", "Scanners" );
					
						products[ 238 ] = new Product( "TM-H6000II", "TM Printers" );
					
						products[ 239 ] = new Product( "TM-J7000/J7100", "TM Printers" );
					
						products[ 240 ] = new Product( "TM-T88III", "TM Printers" );
					
						products[ 241 ] = new Product( "TM-T88IV", "TM Printers" );
					
						products[ 242 ] = new Product( "TM-U220 Series", "TM Printers" );
					
						products[ 243 ] = new Product( "TM-U375", "TM Printers" );
					

			// end data definition

			function populateProducts( productCategoryField, productField )
			{
				for ( var i = productField.options.length - 1 ; i > 0 ; i -- )
				{
					productField.options[ i ] = null;
				}

				if ( productCategoryField.selectedIndex == 0 )
				{
					return;
				}

				for ( var i = 0, j = 1 ; i < products.length ; i ++ )
				{
					if ( products[ i ].category == productCategoryField.options[ productCategoryField.selectedIndex ].value )
					{
						productField.options[ j ] = new Option( products[ i ].name, products[ i ].name );
						j ++;
					}
				}
			}

			window.onload = function()
			{
				if ( typeof( document.eform.field_32_1 ) != "undefined" ) // if product type defined
				{
					// populate the category list

					for ( var i = 0 ; i < productCategories.length ; i ++ )
					{
						document.eform.field_32_1.options[ i + 1 ] = new Option( productCategories[ i ].name, productCategories[ i ].name );
						document.eform.field_32_2.options[ i + 1 ] = new Option( productCategories[ i ].name, productCategories[ i ].name );
						document.eform.field_32_3.options[ i + 1 ] = new Option( productCategories[ i ].name, productCategories[ i ].name );
					}

					// add event handler

					if ( typeof( document.eform.field_33_1 ) != "undefined" ) // if product model defined
					{
						document.eform.field_32_1.onchange = function()
						{
							populateProducts( document.eform.field_32_1, document.eform.field_33_1 );
						}
						document.eform.field_32_2.onchange = function()
						{
							populateProducts( document.eform.field_32_2, document.eform.field_33_2 );
						}
						document.eform.field_32_3.onchange = function()
						{
							populateProducts( document.eform.field_32_3, document.eform.field_33_3 );
						}
					}
				}
			}

		//-->
		</script>

		<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<form name="eform" method="post" action="/ef/eforms/eformmanager.jsp">
		<input type="hidden" name="form" value="191"/>
		<tr>
			<td>
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>

				
					<td class="txtSmall" >
						
						<p>To experience the world&#039;s first original ink tank system printers for your company or school (the &quot;Purpose&quot;),
<br>please leave your contact information below and we will contact you shortly.</p>
					</td>
					</tr>
					<tr>
					<td><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
					</tr>
			

				<tr>
				<td><img src="/ef/images/spacer.gif" width="1" height="1" border="0"></td>
				</tr>
				<tr>
				<td><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
				</tr>
				<tr>
				<td class="txtSmall">
				<p>(<strong class="txtRequired">*</strong>) Fields are mandatory</p></td>
				</tr>
				<tr>
				<td><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				
							<tr>
								<td colspan="4" class="txtSmall"><h4>User Profile Information</h4></td>
							</tr>
							<tr>
								<td colspan="4" class="txtSmall"><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
							</tr>
						
									<tr>
										<td><img src="/ef/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
										<td valign="top" class="txtSmall">
										Family Name
										<span>*</span>

										
										</td>
										<td >&nbsp;&nbsp;</td>
										<td valign="top"  class="txtSmall">
										
														<input type="text" name="field_2" size="40"  maxlength="40" class="ft_text" >
													
										</td>
									</tr>
									<tr>
										<td colspan="4" ><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
									</tr>
								
									<tr>
										<td><img src="/ef/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
										<td valign="top" class="txtSmall">
										Given Name
										<span>*</span>

										
										</td>
										<td >&nbsp;&nbsp;</td>
										<td valign="top"  class="txtSmall">
										
														<input type="text" name="field_3" size="40"  maxlength="40" class="ft_text" >
													
										</td>
									</tr>
									<tr>
										<td colspan="4" ><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
									</tr>
								
									<tr>
										<td><img src="/ef/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
										<td valign="top" class="txtSmall">
										Email Address
										<span>*</span>

										
										</td>
										<td >&nbsp;&nbsp;</td>
										<td valign="top"  class="txtSmall">
										
														<input type="text" name="field_6" size="40"  maxlength="80" class="ft_text" >
													
										</td>
									</tr>
									<tr>
										<td colspan="4" ><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
									</tr>
								
									<tr>
										<td><img src="/ef/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
										<td valign="top" class="txtSmall">
										Contact Telephone Number
										<span>*</span>

										
										</td>
										<td >&nbsp;&nbsp;</td>
										<td valign="top"  class="txtSmall">
										
														<input type="text" name="field_10" size="40"  maxlength="30" class="ft_text" >
													
										</td>
									</tr>
									<tr>
										<td colspan="4" ><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
									</tr>
								
							<tr>
								<td colspan="4" class="txtSmall"><h4>Company Information</h4></td>
							</tr>
							<tr>
								<td colspan="4" class="txtSmall"><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
							</tr>
						
									<tr>
										<td><img src="/ef/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
										<td valign="top" class="txtSmall">
										Company Name
										<span>*</span>

										
										</td>
										<td >&nbsp;&nbsp;</td>
										<td valign="top"  class="txtSmall">
										
														<input type="text" name="field_18" size="40"  maxlength="50" class="ft_text" >
													
										</td>
									</tr>
									<tr>
										<td colspan="4" ><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
									</tr>
								
									<tr>
										<td><img src="/ef/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
										<td valign="top" class="txtSmall">
										Job Title
										&nbsp;

										
										</td>
										<td >&nbsp;&nbsp;</td>
										<td valign="top"  class="txtSmall">
										
														<input type="text" name="field_19" size="40"  maxlength="40" class="ft_text" >
													
										</td>
									</tr>
									<tr>
										<td colspan="4" ><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
									</tr>
								
									<tr>
										<td><img src="/ef/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
										<td valign="top" class="txtSmall">
										Company Address1
										<span>*</span>

										
										</td>
										<td >&nbsp;&nbsp;</td>
										<td valign="top"  class="txtSmall">
										
														<input type="text" name="field_23" size="40"  maxlength="40" class="ft_text" >
													
										</td>
									</tr>
									<tr>
										<td colspan="4" ><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
									</tr>
								
				</table>
			</td>
		</tr>
		
					<tr>
						<td><hr/><!--<h4>Questions</h4>--></td>
					</tr>
					<tr>
						<td ><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
					</tr>
					<tr>
						<td>
							<table width="100%" cellspacing="0" cellpadding="0" border="0">
							
										<tr>
											<td ><img src="/ef/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
											<td class="txtSmall">
												&nbsp;Work Industry</p>
											</td>
										</tr>
										<tr>
											<td colspan="2"><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
										</tr>
										<tr>
											<td><img src="/ef/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
											<td >
											
															<select name="question_763" size="1" >
															<option value="">-- Please Select --</option>
															
																		<option value="Agriculture and fishing">Agriculture and fishing</option>
																	
																		<option value="Mining and quarrying">Mining and quarrying</option>
																	
																		<option value="Manufacturing">Manufacturing</option>
																	
																		<option value="Electricity, gas & air conditioning supply">Electricity, gas & air conditioning supply</option>
																	
																		<option value="Water supply; sewerage, waste management and remediation">Water supply; sewerage, waste management and remediation</option>
																	
																		<option value="Construction">Construction</option>
																	
																		<option value="Wholesale and retail trade">Wholesale and retail trade</option>
																	
																		<option value="Transportation & storage">Transportation & storage</option>
																	
																		<option value="Accommodation & food services activities">Accommodation & food services activities</option>
																	
																		<option value="Information and communications">Information and communications</option>
																	
																		<option value="Financial & insurance activities">Financial & insurance activities</option>
																	
																		<option value="Real estate activities">Real estate activities</option>
																	
																		<option value="Professional, scientific & technical activities">Professional, scientific & technical activities</option>
																	
																		<option value="Administrative & support services activities">Administrative & support services activities</option>
																	
																		<option value="Public administration & defence">Public administration & defence</option>
																	
																		<option value="Education">Education</option>
																	
																		<option value="Health & social services">Health & social services</option>
																	
																		<option value="Arts, entertainment & recreation">Arts, entertainment & recreation</option>
																	
																		<option value="Creative agency">Creative agency</option>
																	
																		<option value="Production house">Production house</option>
																	
															</select>
														
											</td>
										</tr>
										<tr>
											<td colspan="2"><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
										</tr>
									
										<tr>
											<td ><img src="/ef/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
											<td class="txtSmall">
												<p style="margin:0; padding:0;"><span>*</span>Total staff strength in company</p>
											</td>
										</tr>
										<tr>
											<td colspan="2"><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
										</tr>
										<tr>
											<td><img src="/ef/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
											<td >
											
															<select name="question_764" size="1" >
															<option value="">-- Please Select --</option>
															
																		<option value="1-20 Staff">1-20 Staff</option>
																	
															</select>
														
											</td>
										</tr>
										<tr>
											<td colspan="2"><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
										</tr>
									
										<tr>
											<td ><img src="/ef/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
											<td class="txtSmall">
												<p style="margin:0; padding:0;"><span>*</span>Preferred models of L-Series</p>
											</td>
										</tr>
										<tr>
											<td colspan="2"><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
										</tr>
										<tr>
											<td><img src="/ef/images/spacer.gif" alt="" width="10" height="1" border="0"></td>
											<td >
											
															<select name="question_765" size="1" >
															<option value="">-- Please Select --</option>
															
																		<option value="L555">L555</option>
																	
															</select>
														
											</td>
										</tr>
										<tr>
											<td colspan="2"><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
										</tr>
									
							</table>
						</td>
					</tr>
				

		<tr>
			<td><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
		</tr>







	


			<tr>
				<td><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
			</tr>
			<tr>
				<td >
					<table width="100%" cellpadding="10">
						<tr>
						<td style="text-align:left"><p>Disclaimer: By submitting this form, you hereby agree to the Terms of Use, and that Epson
may collect your personal data in accordance with its Privacy Policy for the purposes of:<br /><br />

(a) contacting you (via email or phone) for the above Purpose; and<br />
(b) processing publicity and promotional materials about Epson's products, events and/or
services via email (if you have opted to receive such promotional and marketing activities).</p></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td><img src="/ef/images/spacer.gif" alt="" width="1" height="10" border="0"></td>
			</tr>				
				 
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				 <input type="hidden" name="noprofile" value="no" />
		
					
						
							<tr>
							<td><div class="formButtons">
								<strong class="buttonBlue"><input type="button" value="SUBMIT" onclick="javascript:void(validate(document.eform)?document.eform.submit():0)")>
								</strong>
								<strong class="buttonBlue"><input type="button" value="CLEAR" onclick="javascript:void(document.eform.reset())")></strong>
								</div>
							</td>								
							</tr>
						
				</table>
			</td>
		</tr>
		</form>
		</table>
	

<!-- *********************** -->
</td>
		<td><img src="/ef/images/spacer.gif" alt="" width="12" height="1" border="0"></td>
		
		</tr>
		</table>
	
<!-- END CONTENT -->

</td>

</tr>
</table>


	

	<!-- END CONTENT -->