body {
	font-family: 'maven_pro_medium',"Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 230%;
	line-height: normal;
}

h2 {
	font-size: 140%;
	line-height: normal;
}

h3 {
	font-size: 115%;
	line-height: normal;
}

p, ul {
	font-size: 100%;
	line-height: 20px;
}

.nav-links {
	font-size: 130%;
	line-height: normal;
}



